@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    
}
body{
    background-color: #14bdac;
}
h1{
    margin: 2em auto;
    text-align: center;
}

section {
    width: 50%;
    height: 30em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
}

.firstRow, .secondRow{
    border-bottom: 0.5em solid rgba(0, 0, 0, 0.493);
}

.firstColumn, .secondColumn{
    border-right: 0.5em solid rgba(0, 0, 0, 0.493);
}

.cross {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.cross:after {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2A2F"; 
    font-size: 200px; 
    color: rgb(170, 53, 53);
    line-height: 100px;
    text-align: center;
}

.circle {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.circle:after {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\25CB"; 
    font-size: 250px; 
    color: rgb(170, 53, 53);
    line-height: 100px;
    text-align: center;
}
 
.winnerGameBg{
    background-color: rgba(206, 203, 44, 0.356);
}

.winnerMessage{
    width: 20em;
    height: 5em;
    position: absolute;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin-left: 8em;
}